@import "common";
@import "css_rwd_common.css";

@media (max-width: 1199px) {
  .openList {
    display: block;
    width: ptr(40);
    margin-left: ptr(15);
    position: relative;
    z-index: 22;
    hr {
      -moz-transition: 0.5s all ease-in-out;
      background: #000;
      border: 1px solid #000;
      transition: 0.5s all ease-in-out;
      z-index: 98;
      opacity: 1;
      margin: ptr(10) 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.ac {
      position: relative;
      z-index: 21;
      hr:nth-child(2) {
        opacity: 0;
      }
      hr:nth-child(1) {
        background: #fff;
        border-color: #fff;
        transform: rotate(135deg) translateX(3px) translateY(-9px);
      }
      hr:nth-child(3) {
        background: #fff;
        border-color: #fff;
        transform: rotate(-135deg) translateX(7px) translateY(14px);
      }
    }
  }
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
    display: none;
  }
  .wrp {
    max-width: calc(100vw - #{ptr(40)});
    .wrp {
      width: 100%;
    }
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .wrp {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
}

@media (max-width: 479px) {
}

@media (max-width: 320px) {
  :root {
    font-size: 14px;
  }
  .openList {
    width: ptr(35);
  }
}
