@import "common.scss";
@import "display.scss";

:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--body_background);
  color: var(--colorMain);
  font-family: var(--body_fontfamily);
  min-width: 100%;
  max-width: var(--body_maxWidth);
  min-height: 100vh;
  margin: auto;
  font-size: var(--fontSize);
  font-weight: 400;
  line-height: var(--lineHeight);
}
.wrp {
  margin: auto;
  width: var(--widthWrp);
  max-width: 100%;
}

header {
  background: var(--header_background);
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  .wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        height: 50px;
        display: block;
      }
    }
    #menu {
      padding-left: 20px;
      .menuMain {
        @extend %ul;
        display: flex;
        li {
          a {
            transition: 0.3s all ease-in-out;
            font-weight: 600;
            padding: 15px 15px;
            display: block;
            font-size: 15px;
            color: var(--menuMain_color);
            border-bottom: 2px solid transparent;
            &:hover {
              background: var(--menuMain_hover);
              border-bottom-color: var(--menuMain_borderColor);
            }
          }
          ul {
            display: none;
          }
        }
      }
    }
    .searchForm {
      width: 250px;
      display: flex;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      background: #fff;
      input {
        flex: 1;
        height: 30px;
        border: none;
        outline: none;
        padding-left: 10px;
        background: transparent;
        font-size: 13px;
      }
      .btnSearch {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.noidung.sapo {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}

#profile {
  margin-bottom: 30px;
  background: var(--profile_background);
  .title {
    height: 176px;
    background: var(--profile_title_background);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    color: var(--profile_title_color);
    font-size: var(--profile_title_fontSize);
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    .name {
      font-size: var(--profile_name_fontSize);
      color: var(--profile_name_color);
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      position: relative;
      padding-bottom: 15px;
      &:after {
        content: "";
        height: 1px;
        width: 95px;
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        bottom: 0;
      }
    }
    .left {
      flex: 1;
      .group {
        position: relative;
        .imageRegis {
          display: block;
          width: 100%;
        }
        .btnExpand {
          position: absolute;
          bottom: 8px;
          right: 12px;
          padding: 6px;
          background: rgba(255, 255, 255, 0.9);
          display: inline-block;
          font-size: 25px;
          cursor: pointer;
          &:hover {
            background: rgba(255, 255, 255, 1);
          }
        }
      }
      .btnDownloadProfile {
        display: block;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--profile_btnDownloadProfile_color);
        font-size: var(--profile_btnDownloadProfile_fontSize);
        border-radius: 100px;
        background: var(--profile_btnDownloadProfile_background);
        padding: 17px 0 15px 0;
        font-weight: 600;
        transition: 0.3s all ease-in-out;
        .text {
          margin-left: 10px;
        }
        .icon {
          img {
            display: block;
          }
        }
        &:hover {
          filter: brightness(120%);
        }
      }
    }
    .right {
      > div {
        height: 100%;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      .group {
        overflow: hidden;
        height: 100%;
        .wImage {
          border-radius: 7px;
          overflow: hidden;
          margin-bottom: 20px;
          &::before {
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}

#commonTop {
  background: var(--commonTop_background);
  color: var(--commonTop_colorText);
  padding: 10px 0;
  .wrp {
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      gap: 10px;
      > * {
        border-right: 1px solid var(--commonTop_colorText);
        padding-right: 10px;
        &:last-child {
          padding-right: 0;
          border: none;
        }
      }
    }
    .right {
      .social {
        @extend %ul;
        display: flex;
        gap: 10px;
        li a {
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--commonTop_colorText);
          font-size: 12px;
          border-radius: 4px;
          &:hover {
            background: var(--commonTop_colorText);
            color: #000;
          }
        }
      }
    }
  }
}

#slideBanner {
  .owl-dots {
    @extend %owl-dots;
    position: absolute;
    bottom: 20px;
    .owl-dot {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 1px solid var(--slideBanner_colorDot);
      background: #fff;
      &.active {
        background: var(--slideBanner_colorDot);
      }
    }
  }
}

#service {
  background: var(--service_background);
  margin-bottom: 30px;
  .wrp {
    padding: 30px 0;
    .titleModule {
      text-transform: uppercase;
      color: var(--service_titleModule_color);
      font-size: var(--service_titleModule_fontSize);
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
    .description {
      text-align: center;
      font-size: var(--service_description_fontSize);
      margin-bottom: 20px;
    }
    .parent {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      .group {
        width: calc((100% - 40px) / 3);
        .item {
          .name {
            font-size: var(--service_item_name_fontSize);
            margin: 7px 0 15px 0;
            text-align: center;
            display: block;
            font-weight: 600;
          }
        }
        .otherName {
          @extend %ul;
          font-size: var(--service_otherName_name_fontSize);
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          li {
            a {
              display: flex;
              gap: 5px;
              align-items: baseline;
              &:hover {
                color: var(--colorMainHover);
              }
            }
          }
        }
      }
    }
  }
}

.iframe.youtube {
  aspect-ratio: 16/9;
  iframe {
    width: 100%;
    height: 100%;
  }
}

#about {
  background: var(--about_right_background);
  margin-bottom: 30px;
  display: flex;
  .left {
    width: 900px;
  }
  .right {
    flex: 1;
    padding: 40px;
    .titleModule {
      font-size: var(--about_titleModule_fontSize);
      display: block;
      margin-bottom: 15px;
    }
    .description {
      font-size: var(--about_description_fontSize);
      line-height: var(--about_description_lineheight);
    }
    .progressBar {
      width: 100%;
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
      margin-top: 20px;
      span {
        height: 30px;
        line-height: 30px;
        width: var(--percent);
        text-align: center;
        background: var(--backgroundBar);
        color: var(--colorBar);
        display: block;
        border-radius: 4px;
      }
    }
  }
}

#whyus {
  padding: 40px 0 60px 0;
  background: var(--whyus_background);
  .titleModule {
    color: var(--whyus_titleModule_color);
    font-size: var(--whyus_titleModule_fontSize);
    text-align: center;
    font-weight: 600;
    display: block;
  }
  .description {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: var(--whyus_desciprtion_fontSize);
    line-height: var(--whyus_desciprtion_lineheight);
    text-align: center;
  }
  .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    .item {
      width: calc((100% - 90px) / 4);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      .icon {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: var(--whyus_item_icon_background);
        color: var(--whyus_item_icon_color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--whyus_item_icon_fontSize);
        transition: 0.3s all ease-in-out;
      }
      .name {
        font-size: var(--whyus_item_name_fontSize);
        text-align: center;
        display: block;
        font-weight: 500;
      }
      .cont {
        text-align: center;
        font-size: var(--whyus_item_cont_fontSize);
        line-height: var(--whyus_item_cont_lineHeight);
      }
      &:hover {
        .icon {
          filter: brightness(120%);
        }
      }
    }
  }
}

#customerReview {
  padding: 40px 0;
  background: var(--customerReview_background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .titleModule {
    display: block;
    text-align: center;
    font-size: var(--customerReview_titleModule_fontSize);
    color: var(--customerReview_titleModule_color);
    font-weight: 600;
    text-transform: uppercase;
  }
  .description {
    text-align: center;
    margin: 10px 0 30px 0;
    color: var(--customerReview_description_color);
    font-size: var(--customerReview_description_fontSize);
    line-height: var(--customerReview_description_lineHeight);
  }
  .group {
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .image {
        width: var(--customerReview_image_width);
        border-radius: 50%;
        overflow: hidden;
      }
      .content {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        font-size: var(--customerReview_content_fontSize);
        line-height: var(--customerReview_content_lineHeight);
        color: var(--customerReview_content_color);
      }
      .nameCustomer {
        font-size: var(--customerReview_nameCustomer_fontSize);
        color: var(--customerReview_nameCustomer_color);
        font-weight: 500;
      }
    }
    .owl-dots {
      @extend %owl-dots;
      margin-top: 20px;
      .owl-dot {
        background: transparent;
        border: 1px solid var(--customerReview_nameCustomer_color);
        &.active {
          background: var(--customerReview_nameCustomer_color);
        }
      }
    }
  }
}

#procedure {
  background: var(--procedure_background);
  padding: 50px 0;
  .titleModule {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--procedure_titleModule_fontSize);
    text-align: center;
    display: block;
    color: var(--procedure_titleModule_color);
  }
  .description {
    font-size: var(--procedure_description_fontSize);
    line-height: var(--procedure_description_lineHeight);
    text-align: center;
    margin: 10px 0 30px;
  }
  .group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    .item {
      width: calc((100% - 100px) / 5);
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon {
        width: var(--procedure_icon_width);
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--procedure_icon_background);
        color: var(--procedure_icon_color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--procedure_icon_fontSize);
        transition: 0.3s all ease-in-out;
      }
      .step {
        margin: 15px 0;
        font-weight: 600;
        font-size: var(--procedure_step_fontSize);
      }
      .content {
        font-size: var(--procedure_content_fontSize);
        line-height: var(--procedure_content_lineHeight);
        text-align: center;
      }
      &:hover {
        .icon {
          filter: brightness(120%);
        }
      }
    }
  }
}

#newsHome {
  background: var(--newsHome_background);
  padding: 30px 0 50px 0;
  .wrp {
    .titleModule {
      font-size: var(--newsHome_titleModule_fontSize);
      text-align: center;
      display: block;
      color: var(--newsHome_titleModule_color);
      font-weight: 600;
    }
    .description {
      font-size: var(--newsHome_description_fontSize);
      line-height: var(--newsHome_description_lineHeight);
      text-align: center;
      margin: 10px 0 20px 0;
    }
    .group {
      display: flex;
      flex-wrap: wrap;
      gap: 30px 20px;
      .item {
        width: calc((100% - 60px) / 4);
        img {
          border-radius: 3px;
        }
        .name {
          display: block;
          margin-top: 5px;
          font-size: var(--newsHome_item_name_fontSize);
          line-height: var(--newsHome_item_name_lineHeight);
          font-weight: 500;
        }
      }
    }
  }
}

#staff {
  background: var(--staff_background);
  padding: 30px 0 10px 0;
  .wrp {
    .titleModule {
      font-size: var(--staff_titleModule_fontSize);
      text-align: center;
      display: block;
      color: var(--staff_titleModule_color);
      font-weight: 600;
    }
    .description {
      font-size: var(--staff_description_fontSize);
      line-height: var(--staff_description_lineHeight);
      text-align: center;
      margin: 10px 0 20px 0;
    }
    .group {
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      .item {
        width: calc((100% - 160px) / 5);
        display: flex;
        flex-direction: column;
        align-items: center;
        .photo {
          width: 200px;
          display: block;
          border-radius: 50%;
          overflow: hidden;
          width: 60%;
        }
        .info {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;
          .name {
            font-size: var(--staff_name_fontSize);
            font-weight: 500;
            line-height: var(--staff_name_lineHeight);
            color: var(--staff_name_color);
          }
          .position {
            font-size: var(--staff_position_fontSize);
            line-height: var(--staff_position_lineHeight);
            color: var(--staff_position_color);
            text-align: center;
          }
          .hotline {
            color: var(--staff_hotline_color);
            font-size: var(--staff_hotline_fontSize);
            line-height: var(--staff_hotline_lineHeight);
            margin-bottom: 10px;
          }
          .social {
            > * {
              margin: 2px;
              display: inline-block;
              &:hover {
                filter: brightness(120%);
              }
            }
          }
        }
      }
    }
  }
}

#project {
  padding: 30px 0 50px 0;
  background: var(--project_background);
  .wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    .titleModule {
      font-size: var(--staff_titleModule_fontSize);
      text-align: center;
      display: block;
      color: var(--staff_titleModule_color);
      font-weight: 600;
      margin-bottom: 20px;
    }
    .group {
      width: 100%;
      .item {
        .image {
          margin-bottom: 5px;
          border: 1px solid var(--project_image_borderColor);
          border-radius: 4px;
          overflow: hidden;
        }
        .name {
          font-size: var(--project_name_fontSize);
          font-weight: 600;
          line-height: var(--project_name_lineHeight);
          color: var(--project_name_color);
          text-align: center;
          display: block;
          text-transform: uppercase;
          margin-bottom: 3px;
        }
        .typeService {
          font-size: var(--project_typeService_fontSize);
          line-height: var(--project_typeService_lineHeight);
          color: var(--project_typeService_color);
          text-align: center;
        }
        &:hover {
          .image {
            border-color: var(--colorMainHover);
          }
        }
      }
      .owl-nav {
        @extend %owl-nav;
        .owl-prev,
        .owl-next {
          &:hover {
            background: var(--colorMainHover);
            color: var(--commonTop_colorText);
          }
        }
      }
    }
    .viewAll {
      padding: 5px 30px;
      border: 1px solid #333;
      margin: auto;
      margin-top: 10px;
      display: inline-block;
      border-radius: 3px;
      &:hover {
        background: var(--colorMainHover);
        border-color: var(--colorMainHover);
        color: var(--commonTop_colorText);
      }
    }
  }
}

#customer {
  background: var(--customer_background);
  padding: 30px 0 50px 0;
  .wrp {
    .titleModule {
      font-size: var(--customer_titleModule_fontSize);
      text-align: center;
      display: block;
      color: var(--customer_titleModule_color);
      font-weight: 600;
      margin-bottom: 20px;
    }
    .group {
      width: 100%;
      .item {
        .image {
          margin-bottom: 5px;
          border: 1px solid var(--customer_image_borderColor);
          border-radius: 4px;
          overflow: hidden;
        }
        &:hover {
          .image {
            border-color: var(--colorMainHover);
          }
        }
      }
      .owl-nav {
        @extend %owl-nav;
        .owl-prev,
        .owl-next {
          &:hover {
            background: var(--colorMainHover);
            color: var(--commonTop_colorText);
          }
        }
      }
    }
  }
}

#contact {
  position: relative;
  padding: 30px 0 40px 0;
  background: var(--contact_background);
  .wrp {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    .left {
      width: 400px;
      border-radius: 10px;
      overflow: hidden;
      padding: 30px 25px;
      background: var(--contact_left_background);
      .title {
        color: var(--contact_left_title_color);
        font-size: var(--contact_left_title_fontSize);
        font-weight: 600;
        text-align: center;
        line-height: var(--contact_left_title_lineHeight);
        text-transform: uppercase;
      }
      .des {
        color: var(--contact_left_des_color);
        font-size: var(--contact_left_des_fontSize);
        text-align: center;
        line-height: var(--contact_left_des_lineHeight);
        text-align: center;
        margin: 10px 0 30px 0;
      }
      .form {
        .item {
          width: 100%;
          height: 50px;
          padding: 0 10px;
          margin-bottom: 7px;
          outline: none;
          font-size: 15px;
        }
        .btnSubmit {
          margin-top: 10px;
          background-color: var(--contact_left_button_background);
          height: 45px;
          width: 100%;
          font-weight: bold;
          color: var(--contact_left_button_color);
          font-size: var(--contact_left_button_fontSize);
          text-align: center;
          line-height: var(--contact_left_button_lineHeight);
          cursor: pointer;
        }
        .textLast {
          margin-top: 20px;
          padding: 0 10px;
          color: var(--contact_left_textLast_color);
          font-size: var(--contact_left_textLast_fontSize);
          text-align: center;
          line-height: var(--contact_left_textLast_lineHeight);
        }
      }
    }
    .right {
      flex: 1;
      padding-left: 50px;
      .wImage {
        border-radius: 10px;
        margin-bottom: 20px;
        &::before {
          padding-bottom: 49.63%;
        }
      }
      .title {
        color: var(--contact_right_title_color);
        font-size: var(--contact_right_title_fontSize);
        font-weight: bold;
        letter-spacing: 0px;
        line-height: var(--contact_right_title_lineHeight);
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-bottom: 10px;
        position: relative;
        &:after {
          content: "";
          width: var(--contact_right_title_border_width);
          position: absolute;
          border-bottom: 1px solid var(--contact_right_title_border_color);
          height: 1px;
          display: block;
          bottom: 0;
          left: 0;
        }
      }
      .des {
        color: var(--contact_right_des_color);
        font-size: var(--contact_right_des_fontSize);
        line-height: var(--contact_right_des_lineHeight);
      }
    }
  }
}

#footer {
  background: var(--footer_background);
  background-size: cover;
  padding: 25px 0 50px 0;
  .wrp {
    display: flex;
    color: var(--footer_color);
    .left {
      padding-right: 60px;
      line-height: 30px;
      .logo {
        display: block;
        margin-bottom: 15px;
      }
      .border {
        width: 79px;
        margin: 20px 0;
        border-color: var(--footer_color) !important;
        opacity: 0.3;
      }
      .plug {
        display: flex;
        gap: 10px;
        a {
          width: 44px;
          height: 44px;
          border: 1px solid var(--footer_left_plug_borderColor);
          border-radius: 50%;
          color: var(--footer_left_plug_color);
          font-size: var(--footer_left_plug_fontSize);
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: var(--footer_left_plug_borderColor_hover);
            border-color: var(--footer_left_plug_borderColor_hover);
            color: var(--footer_left_plug_color_hover);
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      font-size: var(--footer_right_fontSize);
      color: var(--footer_right_color);
      line-height: var(--footer_right_lineHeight);
      padding-top: 20px;
      .group {
        flex: 1;
        padding-right: 20px;
        .nameCate {
          font-size: var(--footer_nameCate_fontSize);
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 25px;
          position: relative;
          padding-bottom: 15px;
          color: var(--footer_nameCate_color);
          display: block;
          &::after {
            content: "";
            width: 79px;
            height: 1px;
            background: var(--footer_nameCate_color);
            position: absolute;
            bottom: 0;
            left: 0;
          }
          i {
            display: none;
          }
        }
        .list {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            margin-bottom: 5px;
            a {
              display: block;
              &:hover {
                color: var(--colorMainHover);
              }
            }
          }
        }
      }
    }
  }
}

#copyright {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--copyright_color);
  background: var(--copyright_background);
  text-align: center;
  font-size: var(--copyright_fontSize);
  line-height: var(--copyright_lineHeight);
}

#container {
  display: flex;
  #menuCate {
    width: var(--container_menuCate_width);
    max-height: 100%;
    overflow: auto;
    border-right: 1px solid var(--container_menuCate_borderColor);
    background: transparent;
    > ul {
      @extend %menuCate_ul;
    }
  }
  .colRight {
    scroll-behavior: smooth;
    padding: 40px 0;
    flex: 1;
    display: flex;
    overflow: auto;
    max-height: 100%;
    .title {
      font-weight: 500;
      font-size: var(--container_tableOfContents_title_fontSize);
      line-height: var(--container_tableOfContents_title_lineHeight);
      color: var(--container_tableOfContents_title_color);
    }
    #tableOfContents {
      width: 350px;
      position: sticky;
      top: 0;
      .list_tableOfContents {
        border-left: 1px solid #f5f5f5;
        padding: 0 40px 0 20px;
        margin-top: 10px;
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            a {
              color: var(--container_tableOfContents_list_text_color);
              font-size: var(--container_tableOfContents_list_text_fontSize);
              line-height: var(
                --container_tableOfContents_list_text_lineHeight
              );
              display: block;
              &:hover,
              &.active {
                color: var(--colorMainHover);
              }
            }
          }
        }
      }
    }
    .boundContent {
      flex: 1;
      display: flex;
      justify-content: center;
      .contentMain {
        width: 800px;
        max-width: 100%;
        padding: 0 20px;
        .titleContent {
          font-size: var(--container_contentMain_titleContent_fontSize);
          line-height: var(--container_contentMain_titleContent_lineHeight);
          font-weight: 600;
          margin-bottom: 20px;
          color: var(--container_contentMain_titleContent_color);
        }
      }
    }
  }
}

#otherNews {
  margin: 20px 0;
  .title {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid var(--otherNews_title_borderColor);
    display: block;
    > a {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      display: block;
      color: var(--otherNews_title_color);
      background: var(--body_background);
      padding: 0 50px;
      font-size: var(--otherNews_title_fontSize);
      line-height: var(--otherNews_title_lineHeight);
    }
  }
  .group {
    padding-top: 30px;
    .item {
      .name {
        display: block;
        margin-top: 7px;
        font-weight: 600;
        font-size: var(--otherNews_item_name_fontSize);
        line-height: var(--otherNews_item_name_lineHeight);
        color: var(--otherNews_item_name_color);
      }
    }
    .owl-nav {
      @extend %owl-nav;
    }
  }
}

#legalService {
  padding: 40px 0;
  .title {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid var(--legalService_title_borderColor);
    display: block;
    > a {
      position: absolute;
      bottom: -8px;
      left: 50%;
      color: var(--legalService_item_color);
      transform: translateX(-50%);
      white-space: nowrap;
      display: block;
      background: var(--body_background);
      padding: 0 50px;
      font-size: var(--legalService_title_fontSize);
      line-height: var(--legalService_title_lineHeight);
    }
  }
  .parent {
    .group {
      padding-top: 65px;
      display: flex;
      gap: 45px 30px;
      flex-wrap: wrap;
      position: relative;
      flex-direction: column;
      .item {
        width: 100%;
        border: 3px solid var(--legalService_item_borderColor);
        padding: 30px 45px 25px;
        border-radius: 7px;
        position: relative;
        .cateName {
          position: absolute;
          top: 3px;
          transform: translateX(-50%) translateY(-100%);
          left: 50%;
          display: block;
          font-weight: bold;
          font-size: 22px;
          background: #fff;
          padding: 0 35px;
          white-space: nowrap;
        }
        ul {
          padding-left: 0px;
          margin: 0;

          list-style: none;
          position: relative;

          li {
            padding-left: 20px;
            border-left: 2px dotted var(--colorMainHover);
            font-weight: bold;
            color: var(--legalService_item_color);
            padding-bottom: 6px;
            position: relative;
            &:last-child {
              border-left-color: transparent;
              padding-bottom: 0;
            }
            > * {
              transition: 0.3s all ease-in-out;
              left: 0;
              position: relative;
              top: -5px;
            }
            &:hover > * {
              left: 5px;
            }
            &::before {
              content: "\f111";
              font-family: FontAwesome;
              font-weight: 900;
              font-size: 10px;
              position: absolute;
              left: -1px;
              top: 0;
              transform: translateX(-50%);
              line-height: normal;
            }
            * {
              line-height: 20px;
              display: block;
            }
          }
        }
        &:nth-child(even) {
          border-color: var(--legalService_item_borderColor);
          ul {
            li {
              border-color: var(--legalService_item_borderColor);
              color: var(--legalService_item_color);
              &:last-child {
                border-color: transparent;
              }
            }
          }
        }
      }
      &.group-2 {
        .item:nth-child(odd) {
          border-color: var(--legalService_item_borderColor);
          ul {
            li {
              border-color: var(--legalService_item_borderColor);
              color: var(--legalService_item_color);
              &:last-child {
                border-color: transparent;
              }
            }
          }
        }
        .item:nth-child(even) {
          border-color: var(--legalService_item_borderColor);
          ul {
            li {
              border-color: var(--legalService_item_borderColor);
              color: var(--legalService_item_color);
              &:last-child {
                border-color: transparent;
              }
            }
          }
        }
      }
    }
    .owl-dots {
      @extend %owl-dots;
      margin-top: 25px;
      .owl-dot {
        width: 15px;
        height: 15px;
        background: var(--legalService_dot_color);
        margin: 0 8px;
        &.active {
          background: var(--legalService_dot_active_color);
        }
      }
    }
    .owl-nav {
      @extend %owl-nav;
      .owl-next,
      .owl-prev {
        font-size: 50px;
        color: var(--legalService_arrow_color);
        background: none !important;
        left: -40px;
        &.owl-next {
          right: -40px;
        }
        &:hover {
          color: var(--legalService_arrow_hover_color);
        }
      }
    }
  }
}
